@import url("http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css");

.console-block {
  text-align: right;
}

.console-block *:before,
.console-block *:after {
  box-sizing: border-box;
}

.console-block > section {
  display: none;
  text-align: left;
  /*padding: 5px 0 0;*/
  border-top: 1px solid #ddd;
}

.console-block > input.c-tab-unix,
.console-block > input.c-tab-win {
  display: none;
}

.console-block > label {
  display: inline-block;
  padding: 4px 8px;
  font-weight: normal;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-family: fontawesome;
}

.console-block > input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #ab5603;
  border-bottom: 1px solid #fff;
}

.console-block > .c-tab-unix:checked ~ .c-content-unix,
.console-block > .c-tab-win:checked  ~ .c-content-win {
  display: block;
}

@media screen and (max-width: 650px) {
  .console-block > label {
    font-size: 0;
  }

  .console-block > label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .console-block > label {
    padding: 3px;
  }
}
